.que.gapfill span.draggable.answers{
    cursor: pointer;
    border:solid .5px;
    padding:1px;
    background:white;
    /* font-size:48pt;*/
     z-index: 3;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.que.gapfill span.answers{
    cursor: pointer;
    border:solid .5px;
    padding:1px;
    background:white;
    /* font-size:48pt;*/
     z-index: 3;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.que.gapfill input.droppable{
    border:5px solid black
    padding:1px;
    background:white;
    color:black;
}
.que.gapfill select.droppable{
    border:5px solid black
    padding:1px;
    background:white;
    color:black;
}