/* the gap where answers are dropped/keyed in */    
.que.gapfill input.droptarget{
    height:1.1em;
    border:1px solid black;
    padding-left:1px;
    padding-right:1px;
    background:white;
    vertical-align:middle;
    color:black;
}

.que.gapfill span.draggable.answers{
    display: inline-block;
    margin:1px;
    cursor: pointer;
    border:solid 1px;
    padding-left:4px;
    padding-right:4px;
    background:white;
    z-index: 3;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*Displays the correct answer in delimiters if an 
incorrec answer was entered */
.que.gapfill span.aftergapfeedback {
    font-style: italic;
    font-weight:bold;
    color:green;
}
/* styling the dropdowns */
.que.gapfill select{
    border:1px solid black;
    padding:1px;
    background:white;
    color:black;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

.gapfilltable td{
    border:solid;
    border-width:thin;
}

.gapfillfirstcol {
    background-color:#BCBBBB;
}

.gapfillcol{
    background-color: lightgray;
}
.gapfilltable th{
    border:solid;
    border-width:thin;
    background-color: lightgray;
}
.gapfilltable caption{
    border-bottom:solid;
    border-width:thin;
}
.que.gapfill input.correctduplicate{
    background-color: #FFFF00;
}

.que.gapfill input.correct{
    background-color: #afa;
}
.que.gapfill input.incorrect{
    background-color: #faa;
}