.que.gapfill span.draggable.answers{
    cursor: pointer;
    border:solid .5px;
    padding-left:4px;
    padding-right:4px;
    background:white;
    /* font-size:48pt;*/
     z-index: 3;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/* for correct and distractor options that can be
dragged into the answer fields */
.que.gapfill span.answers{
    display: inline-block;
    margin:1px;
    cursor: pointer;
    border:solid .5px;
    padding:1px;
    background:white;
     z-index: 3;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.que.gapfill input.droppable{
    border:1px solid black;
    padding-left:1px;
    padding-right:1px;
    background:white;
    color:black;
 -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

.que.gapfill select{
    border:1px solid black;
    padding:1px;
    background:white;
    color:black;
 -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

.gapfilltable td{
   border:solid;
   border-width:thin;
}
.gapfilltable th{
   border:solid;
   border-width:thin;
   background-color: lightgray;
}
.gapfilltable caption{
   border-bottom:solid;
   border-width:thin;
}
.que.gapfill input.correctduplicate{
        background-color: #FFFF00;
}

.que.gapfill input.correct{
    background-color: #afa;
}
.que.gapfill input.incorrect{
    background-color: #faa;
}