.que.gapfill textarea.qtype_gapfill_response {
    width: 100%;
}
.que.gapfill textarea.qtype_gapfill_response.qtype_gapfill_plain {
    white-space: pre-wrap;
    font: inherit;
}
.que.gapfill textarea.qtype_gapfill_response.qtype_gapfill_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}
.que.gapfill .qtype_gapfill_response {
    min-height: 3em;
}
.que.gapfill .qtype_gapfill_response.readonly {
    background-color: white;
}
.que.gapfill qtype_gapfill_response textarea {
    width: 100%;
}
